<div
  class="flex flex-col gap-4 items-start pl-10 justify-center w-full bg-[#f7f9fb] max-h-[90vh] pb-4"
>
  <div
    class="flex flex-row w-2/3 justify-between items-start gap-4 shadow-sm rounded-md p-2 border border-gray-300"
  >
    <div class="flex flex-row gap-6 p-4 items-center justify-center rounded-md">
      <span class="text-4xl font-semibold text-[#042143]">Total Movements</span>
      <span class="text-4xl font-semibold text-[#042143]">
        {{ totalMovements }}
      </span>
    </div>
    <div class="flex flex-row gap-6 p-4 items-center justify-center rounded-md">
      <span class="text-4xl font-semibold text-[#042143]"
        >Total Animals Moved</span
      >
      <span class="text-4xl font-semibold text-[#042143]">
        {{ totalAnimalsMoved }}
      </span>
    </div>
  </div>
  <div
    class="flex gap-4 w-2/3 justify-between items-center shadow-sm rounded-md p-2 border border-gray-300"
  >
    <div>
      <input
        id="movement-search-input"
        name="movement-search"
        type="text"
        [(ngModel)]="searchTerm"
        (input)="applyFilter()"
        placeholder="Search by Origin Id or Destination Id"
        class="text-[#042143] w-full px-4 py-2 rounded-md focus:outline-none"
      />
    </div>
    <div>
      <button
        id="add-movement-button"
        name="add-movement"
        *ngIf="
          authService.getCurrentUserRole() === 'ROLE_ADMIN' ||
          authService.getCurrentUserRole() === 'ROLE_USER'
        "
        (click)="createMovement()"
        class="bg-[#042143] text-[#f7f9fb] py-2 px-4 rounded-md hover:bg-[#193883] transition duration-300 cursor-pointer"
      >
        Add Movement
      </button>
    </div>
  </div>
  <div
    class="overflow-x-auto overflow-y-scroll bg-[#f7f9fb] border border-gray-300 rounded-md w-2/3 shadow-sm"
  >
    <table class="w-full flex flex-col items-center justify-center">
      <thead class="w-full">
        <tr class="w-full flex justify-center items-center flex-row">
          <th
            class="py-3 border-b-2 border-gray-200 bg-[#eef3f4] text-md font-semibold text-gray-600 uppercase tracking-wider w-full"
          >
            Movement ID
          </th>
          <th
            class="py-3 border-b-2 border-gray-200 bg-[#eef3f4] text-md font-semibold text-gray-600 uppercase tracking-wider w-full"
          >
            Origin Farm
          </th>
          <th
            class="py-3 border-b-2 border-gray-200 bg-[#eef3f4] text-md font-semibold text-gray-600 uppercase tracking-wider w-full"
          >
            Destination Farm
          </th>
          <th
            class="py-3 border-b-2 border-gray-200 bg-[#eef3f4] text-sm font-semibold text-gray-600 uppercase tracking-wider w-full"
          >
            Total Animals Moved
          </th>
          <th
            *ngIf="
              authService.getCurrentUserRole() === 'ROLE_ADMIN' ||
              authService.getCurrentUserRole() === 'ROLE_USER'
            "
            class="py-3 border-b-2 border-gray-200 bg-[#eef3f4] text-md font-semibold text-gray-600 uppercase tracking-wider w-full"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="w-full">
        <tr
          *ngFor="let movement of filteredMovements"
          class="hover:bg-gray-50 flex justify-center items-center flex-row w-full"
        >
          <td
            class="py-2 border-b border-gray-200 text-sm w-full flex justify-center"
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ movement.movementId }}
            </p>
          </td>
          <td
            class="py-2 border-b border-gray-200 text-sm w-full flex justify-center"
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ movement.originFarm.premiseId }}
            </p>
          </td>
          <td
            class="py-2 border-b border-gray-200 text-sm w-full flex justify-center"
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ movement.destinationFarm.premiseId }}
            </p>
          </td>
          <td
            class="py-2 border-b border-gray-200 text-sm w-full flex justify-center"
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ movement.numItemsMoved }}
            </p>
          </td>

          <td
            *ngIf="
              authService.getCurrentUserRole() === 'ROLE_ADMIN' ||
              authService.getCurrentUserRole() === 'ROLE_USER'
            "
            class="py-2 border-b border-gray-200 text-sm w-full flex justify-center"
          >
            <div class="flex flex-row gap-8">
              <button
                id="edit-movement-button-{{ movement.movementId }}"
                name="edit-movement"
                (click)="editMovement(movement.movementId)"
                class="text-[#193883] hover:text-blue-900 mr-3 cursor-pointer"
              >
                Edit
              </button>
              <button
                id="delete-movement-button-{{ movement.movementId }}"
                name="delete-movement"
                (click)="deleteMovement(movement.movementId)"
                class="text-red-600 hover:text-red-900 cursor-pointer"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
