<div
  class="flex flex-col items-start justify-start gap-4 w-[70%] bg-[#f7f9fb] h-screen"
>
  <div class="flex flex-col items-center justify-center w-full">
    <form
      id="login-form"
      name="loginForm"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4 w-1/3 border border-gray-300 p-8 rounded-md mt-3 bg-[#f7f9fb]"
    >
      <div class="flex items-center flex-row justify-between">
        <h2 class="text-4xl font-semibold text-[#042143] my-8">Login</h2>
        <img src="login.png" class="h-12 mr-2" alt="Logo" />
      </div>
      <label class="text-lg font-medium" for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        class="text-[#042143] border border-[#042143] px-4 py-2 rounded-md focus:outline-none"
        required
      />
      <div
        *ngIf="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
        class="text-red-500 text-sm"
      >
        Username is required.
      </div>

      <label class="text-lg font-medium" for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        class="text-[#042143] border border-[#042143] px-4 py-2 rounded-md focus:outline-none"
        required
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="text-red-500 text-sm"
      >
        Password is required.
      </div>

      <div
        *ngIf="error"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md relative"
      >
        <strong class="font-bold">Error!</strong>
        <span class="block">{{ error }}</span>
      </div>

      <div class="w-full flex justify-between items-center gap-2">
        <button
          id="login-submit-btn"
          name="loginSubmit"
          type="submit"
          [disabled]="loginForm.invalid || loading"
          class="bg-[#042143] text-[#f7f9fb] py-2 px-4 rounded-md hover:bg-[#193883] transition duration-300 cursor-pointer w-full"
        >
          {{ loading ? "Logging in..." : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
